{% extends "data/main.html" %}
{% block content %}
{% load static %}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">

                <div style="text-align: center;">
                    <h1><b>Selamat Datang</b></h1>
                    
                  </div>
                  <br>
                  <div class="card mb-3">
                      <img class="card-img-top" src="{% static 'images/aa.jpg' %}" height="300px">
                      <div class="card-body">
                        <div style="text-align: center;">
                          <h3 class="card-title"><b> VISI MISI </b></h3><br>
                          <p class="card-text">" BERPRESTASI, TERAMPIL, BERKEPRIBADIAN ISLAM DAN  BERBUDAYA LINGKUNGAN "</p>
                          <br>
                       </div>
                      </div>
                    </div>
{% endblock content %}