{% extends "data/main.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">

<!-- Page body start -->
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <!-- Basic Form Inputs card start -->
            <div class="card">
                <div class="card-header">
                    <div class="text-center">
                        <img src="{% static 'assets/images/auth/logo-dark.png' %}" alt="logo.png">
                    </div>
                    <div class="text-center">
                        <h5 class="align-center"> SMP TARUNA ISLAMI AL-KAUTSAR<h5>
                    </div>
                    
                    <div class="card-header-right"><i
                        class="icofont icofont-spinner-alt-5"></i></div>

                        <div class="card-header-right">
                            <i class="icofont icofont-spinner-alt-5"></i>
                        </div>

                    </div>
                    <div class="card-block">
                        <form method="POST" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ formsis.as_p }}
                            

                                <div class="border-top">
                                    <div class="card-body">
                                        <input type="submit" class="btn btn-primary" value="Simpan">
                                    </div>
                                </div>
                        </form>
                {% endblock content %}