{% extends "data/main.html" %}
{% block content %}
{% load static %}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">

                <div class="page-body">
                    <!-- Basic table card start -->
                    <div class="card">
                        <div class="text-center">
                            <img class="img-fluid" src="{% static 'images/logo.png' %}" width="150px">
                        </div>
                        <div class="text-center">
                            <h5 class="align-center"> SMP TARUNA ISLAMI AL-KAUTSAR<h5>
                        </div>
                        <div class="card-block table-border-style">
                            <div class="table-responsive">
                                <div class="card-body">
                                    <a href="{% url 'inputpengumuman'  %}" type="button" class="btn btn-primary"> Tambah Siswa</a>
                                    <br/>
                                        
                                    </div>
                                <table class="table" >
                                    <thead>
                                        <tr class="bg-inverse">
                                            <th>No</th>
                                            <th>Nama</th>
                                            <th>Stastus</th>
                                            <th>Pembayaran</th>
                                            <th>Lunas</th>
                    
                                            <th class="text-center">Aksi</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for datapengu in pengum %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ datapengu.nama }}</td>
                                            <td>{{ datapengu.status }}</td>
                                            <td>{{ datapengu.pembayaran }}</td>
                                            <td>{{ datapengu.lunas }}</td>
                                            <td><a href="{% url 'updatepengumuman' datapengu.id %}" class="btn btn-primary btn-sm" >Ubah</a> | <a href="{% url 'deletepengumuman' datapengu.id %}" class="btn btn-danger btn-sm">Hapus</a></td>
                                        </tr>

                                    {% empty %}
                                        <tr>
                                            <td colspan="6" align="center"> Data Masih Kosong</td>
                                        </tr>

                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Basic table card end -->
                    {% endblock content %}